html {
  font-size: 10px;
  @media (max-width: 1600px) {
    font-size: 9px;
  }
  @media (max-width: 450px) {
    font-size: 10px;

  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #161616;
  color: #FFF;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;

  &.safari * {
  }

  &.open-sub-container-wrapper {
    overflow: hidden;

    .header-container-mobile {
      overflow: hidden;
    }
  }
}

.body-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.content {
  position: relative;
  flex: 1;
}

a {
  color: #FFF;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.4rem;
}

img:not(.pswp__img) {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

  &.scale-on-hover {
    transition: 0.4s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

svg {
  width: 100%;
  height: 100%;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, .1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: show 1.6s linear;
}

img.cover {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: cover;
}

section {
  position: relative;
}

.container {
  width: 100%;
  max-width: 171.2rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.section {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #fff;

  &__subtitle {
    &:not(:last-child) {

      margin-bottom: 2rem;
    }

    position: relative;
    padding-left: 2.6rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.4rem;
    text-transform: uppercase;
    @media (max-width: 1023px) {
      margin-bottom: 4rem;
    }
    @media (max-width: 500px) {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.7rem;
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 1.2rem;
      width: 1rem;
      height: 1rem;
      left: 0;
      aspect-ratio: 1/1;
      background-color: #006F69;
      border-radius: 50%;
      @media (max-width: 500px) {
        width: 8px;
        height: 8px;
      }
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7rem;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 3.2rem;
      line-height: 4.6rem;
    }
  }

  &-head {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;

    & > * {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 0.8rem;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    img, picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & + * {
      position: relative;
      z-index: 1;
    }
  }

  &--white {
    background-color: #fff;
    color: #161616;

    .text {
      color: #161616;
    }
  }

  &:not(.head-section, .main-section) {
    padding: 12rem 0;
    @media (max-width: 1024px) {
      padding: 4rem 0;
    }
  }
}

.padding-top-none {
  padding-top: 0 !important;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}

.hidden {
  display: none !important;
}

[data-link] {
  cursor: pointer;
}

.title {
  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  color: #000;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 113%;
  @media (max-width: 1400px) {
    font-size: 3.6rem;
  }
}

.text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  @media (max-width: 450px) {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  br {
    display: block;
  }

  h2 {
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7rem;
    text-transform: uppercase;
  }

  h1 {
    font-size: 9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 13rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 8rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.2rem;
  }

  h5 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.8rem;
  }

  h6 {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
  }
}

.icon {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.slider {
  &__prev, &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 6.4rem;
    height: 6.4rem;
    gap: 1.2rem;
    opacity: 0.35;
    @media (max-width: 450px) {
      width: 2.2rem;
      height: 2.2rem;
    }

    &:hover, &:active {
      opacity: 1;
    }
  }

  &-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    @media (max-width: 450px) {
      gap: 2.4rem;
    }
  }
}

.slick {
  &-dots {
    gap: 0.8rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
    li {
      button{
        display: none;
      }

      margin: 0;
      padding: 0;
      width: 0.8rem;
      height: 0.8rem;
      flex-grow: 0;
      flex-shrink: 0;
      display: block;
      border-radius: 50%;
      background-color: rgba(215, 215, 230, 0.50);
      transition: 0.6s ease-in-out;

      &.slick-active {
        background-color: #9935BA;
      }
    }
  }
}

.custom-slider {
  &-wrapper {
    position: relative;
  }

  &__dot {
    width: 0.8rem;
    height: 0.8rem;
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    border-radius: 50%;
    background-color: rgba(215, 215, 230, 0.50);
    transition: 0.6s ease-in-out;

    &.active {
      background-color: #9935BA;
    }
  }

  &__dots {
    gap: 0.8rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}