.modal{
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 78rem;
  padding: 3rem 6rem;
  background: #161616;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-in-out;
  &.active{
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
}

.modals{
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.open-custom-modal .modals{
  pointer-events: auto;
  background: linear-gradient(180deg, rgba(153, 53, 186, 0.00) 50%, #9935BA 100%);
}